version: "3"
services:
  front:
    build: .
    ports:
      - "3000:8080"
    expose:
      - "8080"
    depends_on:
      - server
  server:
    build: ./server
    restart: always
    ports:
      - "3001:8080"
    expose:
      - "8080"
    depends_on:
      - db
  db:
    image: "mysql:8"
    restart: always
    environment:
      MYSQL_DATABASE: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - "db:/var/lib/mysql"

volumes:
  db: null
