@import "color-scheme";
@import "debug";

:root {
  font-family: sans-serif;
  font-size: 16px;
  display: block;
}

:root::-webkit-scrollbar {
  display: none;
}

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  border: none;
}

*:hover {
  @include debug-outline;
}

body {
  @include color-scheme;
}
