.container {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: var(--background);
  color: var(--foreground);

  > main {
    height: 100%;
  }
}

.footer {
  margin-top: auto;

  width: 100vw;
}
